.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FCF3E5;
    color: #8d9aa5;
}

h1 {
    margin-bottom: 0;
    color: #33383D;
} 

.sticky {
    position: absolute;
    top: 0;
}

.contain-to-grid {
    border-bottom: 3px solid #2ba6cb;
}

.row {
    max-width: 750px;   
}

article {
    border-bottom: 1px dotted #dddddd;
}

a span.title {
    color: #333;  
}

a span.title:hover {
    color: #2795b6; 
}

.bullet {
    color: #dddddd;
    padding: 0 5px;
    font-size: 14px;
}

span.name {
    color: #2ba6cb;
}

.content {
    margin-top: 70px;
}

.me-img {
    width: 35px;
    border-radius: 50%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media only screen and (min-width: 940px) {
    .contain-to-grid .top-bar {
        max-width: 750px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
